<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo-727/blob/main/Proyecto_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Proyecto Final**

**Base de datos**: Solicitudes al programa de Seguro de Desempleo
**URL de la base de datos**: https://datos.cdmx.gob.mx/dataset/solicitudes-seguro-de-desempleo 

**Integrantes**:
1.   Fabian Munoz
2.   Maria Nelly Porras

**Descripción**:
Permitiría el acceso a la prestación a todos aquellos desempleados del sector formal, independientemente de la situación que haya originado el episodio de desempleo; otorgando un piso de beneficio equivalente un mes de salario mínimo, hasta por seis meses.

In [1]:
import pandas as pd
import requests

In [8]:
dataset_url = "https://raw.githubusercontent.com/PosgradoMNA/actividades-del-projecto-equipo-727/main/solicitudes-seguro-de-desempleo.csv"

In [10]:
df_solicitudes = pd.read_csv(dataset_url)

In [12]:
df_solicitudes.describe(include='all')

,alcaldia,colonia,codigo_postal,tipo_poblacion,ult_grado_estudios,estatus_estudios,categoria_profesion,profesion,estado_civil,dependientes_economicos,num_dependientes_economicos,tiempo_buscando_empleo,estatus
count,20767,20788,20788,20788,20202,19824,3137,3221,12647,13484,13379.000000,12130,20788
unique,16,1454,1107,51,7,2,4,1044,2,2,NaN,4,2
top,IZTAPALAPA,ZONA CENTRO,SIN DATO,POBLACION GENERAL,BACHILLERATO,CONCLUIDO,Profesionistas,NO APLICA,PERSONA SOLTERA,CON DEPENDIENTES,NaN,0 A 3 MESES,APROBADO
freq,2898,631,1653,12711,5749,13645,1596,289,7758,10211,NaN,7887,14196
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.625607,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.334526,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,NaN